# Maven build.
target/

# Arquivo de configurações do NetBeans.
nbactions.xml

# Arquivo de configuração do hibernate.
hibernate.cfg.xml

# Arquivos de log.
*.log

# Arquivos do banco de dados.
testdb.properties
testdb.script
